
      <h1>CARRITO DE COMPRAS</h1>

{{#each productos}}
  <div class="itemsCarrito">
    <p>PRODUCTO: {{this.product.title}}</p>
    <p>CANTIDAD: {{this.quantity}}</p>
  </div>
{{/each}}
    

    
  

