<h1>CARRITO DE COMPRAS</h1>

<div class="itemsCarrito">
{{#each productos}}
  <div>
    <p>PRODUCTO: {{this.product.title}}</p>
    <p>CANTIDAD: {{this.quantity}}</p>
  </div>
{{/each}}
    </div>

    
  

